<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ-r9_tyBog9yuArmJf36lqhtZHq94Fr8</string>
	<key>GCM_SENDER_ID</key>
	<string>784837112300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.morph.waseet1</string>
	<key>PROJECT_ID</key>
	<string>wasset-e43fb</string>
	<key>STORAGE_BUCKET</key>
	<string>wasset-e43fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784837112300:ios:fd7500d581c7dc4612d0c9</string>
	<key>DATABASE_URL</key>
	<string>https://wasset-e43fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>